<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-default ">
        <div class="container-fluid ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand glyphicon glyphicon-home" href="#"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><%= username %></a></li>
                    <li><a href="/richtext">写文章</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container border">
        <h2><%= dataList.title %></h2></h2>
        <div class="row">
            <div class="col-md-1">作者：</div>
            <div class="col-md-1"><%= dataList.username %></div>
            <div class="col-md-1">发布时间:</div>
            <div class="col-md-3"><%= dataList.time %></div>
        </div>
        <div>
            <%=dataList.content %>
        </div>
    </div>
</body>

</html>